.card-action {
    width: 5em;
    height: 3em;
    position: relative;
    float: right;
    margin-top: -18px;
    margin-right: 5em;
    z-index: 2;
    color: #E26D5C;
    background: #fff;
    border-radius: 100%;
    padding: .8em;
    font-size: .7em;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2), 0 1px 2px 0 rgba(0, 0, 0, 0.19);
}

.up {
    position: fixed;
    display: inline-block;
    text-align: center;
    width: 2rem;
    height: 2rem;
    background-color: #0D9488;
    bottom: 1rem;
    right: 1rem;
    border-radius: 100%;
    animation: puls 2s infinite;
    cursor: pointer;
    transition: background-color .3s, opacity .5s, visibility .5s;
    opacity: 0;
    visibility: hidden;
}

#up.show {
    opacity: 1;
    visibility: visible;
}

@keyframes puls {
    0% {
        box-shadow: 0 0 0 0 #7B1EA1;
    }
    70% {
        box-shadow: 0 0 0 1rem rgba(253, 87, 191, 0);
    }
    100% {
        box-shadow: 0 0 0 0 #7B1EA1;
    }
}

.card-action:hover {
    color: #fff;
    background: #E26D5C;
    -webkit-animation: pulse 1.5s infinite;
}

.view {
    background-color: #1D3461;
    font-size: smaller;
}

.view:hover {
    background-color: #1D3461;
    color: #fff;
}

@-webkit-keyframes pulse {
    0% {
        -moz-transform: scale(0.9);
        -ms-transform: scale(0.9);
        -webkit-transform: scale(0.9);
        transform: scale(0.9);
    }
    70% {
        -moz-transform: scale(1);
        -ms-transform: scale(1);
        -webkit-transform: scale(1);
        transform: scale(1);
        box-shadow: 0 0 0 50px rgba(90, 153, 212, 0);
    }
    100% {
        -moz-transform: scale(0.9);
        -ms-transform: scale(0.9);
        -webkit-transform: scale(0.9);
        transform: scale(0.9);
        box-shadow: 0 0 0 0 rgba(90, 153, 212, 0);
    }
}